.coal-block {
	border: 2px solid #000;
	width: 100%;  height: 700px;
	background: #000000 url(../bg/bg-coal.jpg) no-repeat;
	background-size: 100%;
}
.header{
	color: #e1e1e1;
	font-family: "Museo Sans Curl";
}